[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Microservices-Nest-Scrv/client-gateway.git
[submodule "product-ms"]
	path = product-ms
	url = https://github.com/Microservices-Nest-Scrv/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Microservices-Nest-Scrv/orders-microservice.git
